.miDivision{
    border: crimson solid 1px;
    width: 170px;
    /*height: 1000px;*/  
    margin: 0  auto;
    
    text-align: center;

}

.inputText{

    width: 100px;
    margin: 20px;
    text-align: center;
 

}

.myButton{
    margin:5px;
    background-color: gray;
    border-style: none;
    width: 25px;
    height: 20px;
    text-align: center;
    font-size: 25px;
}

#resultado{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width:100px;
    margin: 0 auto;
    text-align: center;
     
}